{% extends "busqueda/index.html" %}


{% block titulo %}
<h1 class="mb-5 text-white text-justify my-5">About me</h1>                                
{% endblock titulo %}

{% block contenido %}   
<p content="width=device-width" class="display-20 fw-bolder text-white width: 100%" style= "text-align: left;">
    Hello! I'm Cinthia, an Argentine professional with a Bachelor's degree in Industrial Organization from the National Technological University. Since November 2016, I've led a life dedicated to exploration and continuous learning, discovering that traveling is my true passion. <br>

    <br>For two enriching years in Virginia, USA, I had the privilege of caring for and nurturing twins from ages 2 to 4. This experience not only taught me the importance of childcare and patience but also allowed me to master English from scratch. <br>
    
    <br>My next adventure took me to Australia on a working holiday visa, where I worked on farms and in hotels, immersing myself in nature and learning from diverse cultures in dynamic environments. <br>
    
    <br>Currently, I reside in Daydream Island, a beautiful private island with a resort, where I've found a home and a passion in the tourism industry. I combine my background in industrial organization with my love for travel and exploring new cultures. This experience has inspired me to seek a career change: I am currently studying programming to apply my mathematical and statistical skills to innovative solutions. <br>
    
    <br>Additionally, I have concrete plans for my return to Argentina in September 2024, after more than 7 years of traveling the world. I am building a sustainable life project in my hometown. My plan includes transforming reused maritime containers into my home, implementing advanced systems to recycle 100% of water for irrigation, maintaining my own vegetable garden, and raising laying hens. I also plan to practice composting and work as a programmer from home, with the flexibility to make occasional trips around the world to enrich my life and work. <br>
    
    <br>My Interests and Philosophy: <br>
    Outside of my career, I enjoy reading, am passionate about sports, and am a proud fan of Argentine soccer. I firmly believe in the importance of teamwork and attention to detail to offer memorable experiences to our guests. <br>
    
    <br>On this website, I focus on optimizing the management of lost items at the resort to enhance guest experiences, reduce operational costs, and promote environmental practices by encouraging the recovery of lost items instead of purchasing replacements. <br>
    
    <br>Thank you for visiting my page! Please feel free to contact me with any questions or comments. <br>
</p>

{% endblock contenido %}

