Acerca de mi

¡Hola! Soy Cinthia, una profesional argentina con una Licenciatura en Organización Industrial de la Universidad Tecnológica Nacional. Desde noviembre de 2016, he vivido una vida dedicada a la exploración y el aprendizaje continuo, descubriendo que viajar es mi verdadera pasión.

Durante dos enriquecedores años en Virginia, EE. UU., tuve el privilegio de cuidar y acompañar el desarrollo de gemelos desde los 2 hasta los 4 años. Esta experiencia no solo me enseñó la importancia del cuidado infantil y la paciencia, sino que también me permitió dominar el inglés desde cero.

Mi siguiente aventura me llevó a Australia con una visa de vacaciones y trabajo, donde trabajé en granjas y hoteles, sumergiéndome en la naturaleza y aprendiendo de diversas culturas en entornos dinámicos.

Actualmente, resido en Daydream Island, una hermosa isla privada con un resort, donde he encontrado un hogar y una pasión en la industria turística. Combino mi formación en organización industrial con mi amor por viajar y explorar nuevas culturas. Esta experiencia me ha inspirado a buscar un cambio en mi carrera: actualmente estoy estudiando programación para aplicar mis habilidades matemáticas y estadísticas en soluciones innovadoras.

Además, tengo planes concretos para mi regreso a Argentina en septiembre de 2024, después de más de 7 años viajando por el mundo. Estoy construyendo un proyecto de vida sostenible en mi ciudad natal. Mi plan incluye transformar contenedores marítimos reutilizados en mi hogar, implementando sistemas avanzados para reciclar el 100% del agua para riego, mantener una huerta propia y criar gallinas ponedoras. También planeo practicar el compostaje y trabajar como programadora desde casa, con la libertad de realizar viajes esporádicos por el mundo para enriquecer mi vida y mi trabajo.

Mis Intereses y Filosofía:
Fuera de mi carrera, disfruto de la lectura, soy una apasionada del deporte y una orgullosa seguidora del fútbol argentino. Creo firmemente en la importancia del trabajo en equipo y la atención al detalle para ofrecer experiencias memorables a nuestros huéspedes.

En este sitio web, me dedico a optimizar la gestión de objetos perdidos en el resort para mejorar la experiencia de nuestros huéspedes, reducir costos operativos y promover prácticas ambientales fomentando la recuperación de objetos perdidos en lugar de comprar reemplazos.

¡Gracias por visitar mi página! No dudes en contactarme para cualquier pregunta o comentario.
