{% extends "busqueda/index.html" %}


{% block titulo %}
<h1 class="display-10 fw-bolder text-white">I lost an item</h1>                                
{% endblock titulo %}


{% block contenido %}   
<table class="table" class="display-10 fw-bolder text-white">
    <thead class="display-10 fw-bolder text-white"> 
        <tr class="display-10 fw-bolder text-white">
            <th>Id</th>
            <th>When</th>
            <th>What</th>
        </tr>
    </thead>
    <tbody class="display-10 fw-bolder text-white">
    {% for l in lost  %}
        <tr>
            <td>{{ l.id }}</td>
            <td>{{ l.when }}</td>
            <td>{{ l.what }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    